header {
    background: url(image/pet3.jpeg) 0 -200px no-repeat;
    background-size: 1500px;
    height: 280px;
    padding-top: 100px;
    padding-left: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}

li a {
    text-decoration: none;
}
li a:link{
    color: #000;
}
li a:visited{
    color:#640dac;
}
li a:hover{
    color:#333;
}
li a:active{
    color:#06af9b;
}

nav{
    background-color: rgb(216, 233, 216);
    height: 50px;
    text-align: center;
    padding-top: 2px;
}
main{
    margin: 50px;
    /*height: 400px; */
}
main h1 {
    color:rgb(129,141,179);
    font-family: arial;
}

footer{
    height: 40px;
    background-color: rgb(129,141,179);
    text-align: center;
    padding-top: 20px;
    color: rgb(211,218,240);
}
/* page 2 */
table {
    margin-top: 35px;
}

table, caption, th, td { /* group selector */
    border: 1px solid #000;
}

th, td {
    width: 150px;
    height: 35px;
    text-align: center;
}
caption {
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
    padding-top: 15px;
    color: #6a22c7;
}
/* page 3 */
label {
    display: block;
    margin: 15px 0 0 0;
}
input {
    width: 300px;
}
input[type="radio"] {
    width: 25px;
}
textarea {
    width: 300px;
}
input [type="submit"] {
    display: block;
    margin: 20px 1 10px 0;
    width: 100px;
}

img[src="cat4.jpeg"] {
    position: relative;
    left:-100px;
    z-index: 3;
 }
 img+p+img{
	position:absolute;
	left:450px;
	top:550px;
	transform: rotate(8deg); 
   -webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
}