header {
    background: url(image/background.jpg) 0 -100px no-repeat;
    background-size: 100%;
    height: 200px;
    padding-top: 100px;
    padding-left: 100px;
    font-size: 60px; 
    color:rgb(129,141,179);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}

li a {
    text-decoration: none;
}
li a:link{
    color: #000;
}
li a:visited{
    color:#640dac;

}
li a:hover{
    color:#333;
}
li a:active{
    color:#06af9b;
}

nav{
    background-color: rgb(129,141,179);
    height: 50px;
    text-align: center;
    padding-top: 2px;
    color: rgb(211,218,240);
}
main{
    margin: 50px;
    /*height: 400px; */
}
main h1 {
    color:rgb(43, 42, 42);
    font-family: arial;
}

footer{
    height: 40px;
    background-color: rgb(129,141,179);
    text-align: center;
    padding-top: 20px;
    color: rgb(211,218,240);
}
/* page 2 */
table {
    margin-top: 35px;
}

table, caption, th, td { /* group selector */
    border: 1px solid #000;
}

th, td {
    width: 150px;
    height: 35px;
    text-align: center;
}
caption {
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
    padding-top: 15px;
    color: #6a22c7;
}
/* page 3 */
label {
    display: block;
    margin: 15px 0 0 0;
}
input {
    width: 300px;
}
input[type="radio"] {
    width: 25px;
}
textarea {
    width: 300px;
}
input [type="submit"] {
    display: block;
    margin: 20px 1 10px 0;
    width: 100px;
}

img[src="cat4.jpeg"] {
    position: relative;
    left:-100px;
    z-index: 3;
 }
 img+p+img{
	position:absolute;
	left:450px;
	top:550px;
	transform: rotate(8deg); 
   -webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
}
/* Gallery */
#gallery {
    z-index: 1;
    position: relative;
}
ul#photos {
    background: lightgray;
    width: 100%;
    margin-top: 30px;
    position: relative;
}
#photos li {
    display: inline-block;
}
#photos li .photo {
    width: 100%;
    display: inline-block;
}
#photos .photo p{
    font-family: Arial;
    text-align: center;
}

#photos .photo .caption {
    color:rgb(129,141,179);

}
#photos .photo .description{
    text-align: center;
    position: relative;
    top:200px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

#photos .photo img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 20px 20px 20px 20px;
}

#photos .photo .description:hover{
    cursor: pointer;
}
#photos .photo:hover .description{
    text-align: center;
    width: auto;
    height: 30px;
    padding: 30px 0;
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    background: rgb(250, 249, 249);
    opacity: 0.5;
    visibility: visible;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

#infoBox {
    background: #fff;
    opacity: 0.9;
    width: 400px;
    height: 200px;
    position:absolute;
    left: 40%;
    top: 25%;
    visibility: hidden; 
}

#title {
    font-size: 30px;
    font-weight: bold;
    color: rgb(134, 15, 203);
    padding: 20px 0px 0px 20px;
}

#info {
    font-size: 20px;
    color: rgb(129,141,179);
    padding: 20px 0px 0px 20px;
}

#closeInfo {
    font-size: 15px;
    color: rgb(129,141,179);
    padding: 20px 0px 0px 20px;
}


#gallery {
    color: black;
}

.box {
    z-index: 2;
    position: relative;
    top: -700px;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    width: 500px;    
    height: 500px;
    background: #fff;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #444444;
}

.box img {
    width: 500px;
    height: 500px;    
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.close {
    float: right;
    cursor: pointer;
}